.nav-div nav {
    display: flex;
    justify-content: space-between;
    background-color: #002652;
    padding: 1vw;
    border-radius: 16px;
    border: 5px solid #EAF093;
}

.nav-div ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    column-gap: 4vw;
    margin-left: 2vw;
}

.nav-div li {
    font-size: 20px;
}

.nav-div a {
    text-decoration: none;
    color: #EAF093;
    padding: 10px;
    font-weight: bold;
}

.nav-div a:hover {
    background-color: #EAF093;
    color: #08556D;
    border-radius: 10px;
}

.nav-div div {
    background: white;
    border-radius: 50%;
    cursor: pointer;
}

.nav-div p {
    padding: 3px 10px 3px 10px;
    margin: 0;
}