.popUp-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 3rem;
    width: 100%;
    max-width: 55vw;
    max-height: 81vh;
    background: #FFF9DF;
    border-radius: 7px;
    overflow: auto;
}

.popup-inner .close-btn {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    font-size: xx-large;
    font-family: Arial;
    color: #640000;
}