@import url('https://fonts.googleapis.com/css2?family=Judson&family=Lexend+Deca&family=Montserrat&family=Rammetto+One&family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Lexend+Deca:wght@300&display=swap');

.ahome {
    display: grid;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.para {
    color: #FFF9DF;
    margin: 0;
    font-family: Rammetto One;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.task-table {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background: #FFF9DF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 32vw;
    margin-bottom: 4vw;
    padding: 1vw;
    border: 2px solid #640000;
}

.piechartdiv{
    width: 200px;
    position: absolute;
    top: 140px;
    right: 50px;
}

.base-item {
    display: grid;
    grid-template-columns: 1fr 1fr
}

.feedback {
    display: grid;
}

.table_content {
    cursor: pointer;
    font-size: 20px;
    border-bottom: 1px solid #640000;
}

.scroll {
    width: 100%;
    margin-left: 5vw;
    height: 86%;
    overflow: auto;
    /* border: 1px solid #000000; */
}

.scroll1 {
    width: 100%;
    margin-left: -6vw;
    height: 86%;
    overflow: auto;
    /* border: 1px solid #000000; */
}

.table-head-left {
    color: #640000;
    font-family: Alatsi;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;   
}

.feedback-input {
    border-radius: 12px;
    border: 0.5px solid #640000;
    background: #FFF9DF;
    padding: 20px;
}

.send-button {
    margin: 2vw 9vh 1vw 9vh;
    padding: 1vh;
    font-size: 10px;
    border: none;
    border-radius: 20px;
    color: #640000;
    background-color: #FFF9DF;
    cursor: pointer;
    border: solid 1px #640000;
}

.update-button {
    padding: 5px 25px 5px 25px;
    border: 1px solid #640000;
    font-size: 20px;
    font-family: 'Alatsi';
    color: #fde8c5;
    background: #640000;
    border-radius: 40px;
    cursor: pointer;
}

.update-button:hover {
    background-color: #640000;
    color: #FFF9DF;
    transition: 0.4s;
}

.update-button:active {
    color: #640000;
    background: #FFF9DF;
}

.send-button:hover {
    background-color: #640000;
    color: #FFF9DF;
    transition: 0.15s;
}

.send-button:active {
    color: #640000;
    background-color: #FFF9DF;
}
.popUp-head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    position: relative;
    padding: 3rem;
    width: 100%;
    max-width: 55vw;
    max-height: 81vh;
    background: #FFF9DF;
    border-radius: 7px;
    overflow: auto;
}

.popup-inner .close-btn {
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    font-size: xx-large;
    font-family: Arial;
    color: #640000;
}

.popup-head {
    color: #640000;
    font-family: Lexend Deca;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 47.5px; /* 110.465% */
}

.popup-details1 {
    color: #640000;
    font-family: Lexend Deca;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}

.popup-piechart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.popup-piechart-admin {
    display: flex;
    align-items: center;
    column-gap: 56px;
}

.coordinator-buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 10vw;
    margin-bottom: 30px;
}

.coo-button {
    background-color: #640000;
    color: #FDE8C5;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
}

.coo-button:hover {
    background-color: #FDE8C5;
    color: #640000;
    border: 1px solid #640000;
    transition: 0.15s;
}

.coo-button:active {
    background-color: #640000;
    color: #FDE8C5;
    transition: 0.15s;
}

/* ::-webkit-scrollbar {
    width: 0.5em;
    background-color: #000;
} */

.line {
    padding: 1px;
    background-color: black;
    border: none;
}

.code-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: #FFF9DF;
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #640000 transparent #640000 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

.topNav {
    position: absolute;
    margin: 20px;
}

.excel-logo {
    width: 40px;
    cursor: pointer;
}

.excel-download {
    right: 5%;
    display: flex;
}

.excel-title {
    margin: 10px;
    color: #640000;
    font-weight: bold;
    cursor: pointer;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1220px) {
    .task-table {
        margin-bottom: 10vw;
        height: 36vw;
    }
}

@media (max-width: 980px) {
    .popup-inner {
        max-width: 90vw;
        max-height: 90vh;
    }

    .task-table {
        margin-bottom: 12vw;
        height: 39vw;
    }

}

@media (max-width: 900px) {
    .task-table {
        height: 50vw;
    }

    .scroll1 {
        margin-left: -4vw;
    }

    .scroll {
        margin-left: 2vw;
    }
}

@media (max-width: 767px) {
    .para {
        margin-top: 2vh;
        font-size: 19px;
    }

    .coo-button {
        font-size: 16px;
    }

    .update-button {
        font-size: 16px;
    }
    
    .task-table {
        flex-direction: column;
        row-gap: 2vw;
        height: 90vh;
        justify-content: flex-start;
    }

    .scroll {
        margin-left: -6vw;
        max-height: 70%;
    }

    .scroll1 {
        max-height: 70%;
    }

    .popup-inner {
        max-height: 120vh;
    }
}

@media (max-width: 600px) {
    .coo-button {
        font-size: 12px;
    }
    
}

@media (max-width: 580px) {
    .popup-inner {
        padding: 2rem;
        max-width: 100%;
        max-height: 100%;
    }
}

@media (max-width: 480px) {
    .popup-piechart {
        align-items: baseline;
        justify-content: center;
        flex-direction: column;
    }
}